html,
body {
    font-family: "Moderustic", sans-serif;
    background-image: url(./assets/siteBg2.png);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    position: fixed;
    touch-action: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgba(209, 209, 216, 0.12);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.395);
    height: 70%;
    width: 380px;
    margin: 0% 3%;
    border-radius: 20px;
}

.scoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.teamScore {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(38, 36, 34, 0.76);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.369);
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

span {
    font-size: 60px;
}

.timeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(38, 36, 34, 0.76);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.369);
    border: 1px solid black;
    border-radius: 20px;
    margin: 10%
}

.quarter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 20px;
}

.timeLeft {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    margin: 0px 20px;

}



button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(122, 215, 122);
    cursor: pointer;
    display: flex;

}

a {
    text-decoration: none;
}