html,
body {
    font-family: "Moderustic", sans-serif;
    background-image: url(../assets/siteBg2.png);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    touch-action: none;
}

.container {
    height: 100%;
    width: 95%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerCol {
    /* width: 100%; */
}

img {
    height: 80px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(122, 215, 122);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.44);
    font-weight: 700;
}

.gameSetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}